@import "ui-variables";

.nasm-compiler-toolbar {
  display: flex;
  padding: 0 @component-padding;

  .btn {
    margin-right: @component-padding;
    &.btn-success {
      color: @text-color-success;
    }
    &.btn-error {
      color: @text-color-error;
    }
  }
}
