// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nasm-compiler-toolbar {
  display: flex;
  padding: 8px;
  background: @base-background-color;
  border-bottom: 1px solid @base-border-color;

  .btn {
    margin-right: 8px;
    padding: 4px 8px;

    .icon {
      margin-right: 4px;
    }
  }
}

.nasm-compiler {
  .message {
    padding: @component-padding;
  }
}
